#shoulders{
  background-image: url(./shoulder.jpg);
  background-position: left;
  background-size: cover;
}

#arms{
  background-image: url(./arms.jpg);
  background-position: bottom;
  background-size: cover;
}

.dumbbell{
  background-image: url(./dumbbell.png);
  min-height: 200px;
  min-width: 200px;
}

.logo{
  background-image: url(./logo.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  width: 75px;
  height: 75px;
}

#back, #Back{
  background-image: url(./pull\ up.jpg);
  background-position: left;
  background-size: cover;
}

#chest{
  background-image: url(./pushup.jpg);
  background-position: center;
  background-size: cover;
}

#cardio{
  background-image: url(./run.jpg);
  background-position: left;
  background-size: cover;
}

#core{
  background-image: url(./Sit-Up.jpg);
  background-position: left;
  background-size: cover;
}

#legs{
  background-image: url(./squat.jpg);
  background-position: left;
  background-size: cover;
}

#rest{
  background-image: url(./rest.jpg);
  background-position: bottom left;
  background-size: cover;
}

.background1{
  background-image: url(./background1.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100vh;
}

.background2{
  background-image: url(./background2.jpg);
  background-position: left;
  background-size: cover;
  height: 100vh;
}


